#discover{
  @include md {
    display: flex;
  }
  .chips-sheet{
    width: 100%;
    margin-bottom: 20px;
    @include md {
      width: 18%;
      position: fixed;
    }
  }
  .instantNum{
    width: 30px;
  }
  .discover-cover{
    width: 60px;
    height: 60px;
  }
  .discover-list{
    @include md {
      width: 75%;
      margin-left: auto;
    }
    li:hover{
      background: rgba(255,255,255,0.2);
    }
  }
}