#playlists{
  #festival-playlist{
    background: url('~@/assets/image/nirvana.jpeg') no-repeat center/cover;
    height: 100vh;
  }
  #vibe-playlist{
    background: url('~@/assets/image/drummer.jpeg') no-repeat center bottom/cover;
    height: 100vh;
  }
}