#playlists{
  #festival-playlist{
    background: url('https://cdn.pixabay.com/photo/2017/09/27/04/41/orchestra-2790964_960_720.jpg') no-repeat center/cover;
    height: 100vh;
  }
  #vibe-playlist{
    background: url('https://cdn.pixabay.com/photo/2021/12/13/21/43/drummer-6869168_960_720.jpg') no-repeat center/cover;
    height: 100vh;
  }
}