#singleTrack{
  margin-top: 100px;
  .router-link-active{
    color: white;
    font-size: 25px;
    line-height: 50px;
  }
  .singleTrack-intro,.singleTrack-messages{
    min-height: 500px;
    margin-bottom: 100px;
  }
}