*{
  list-style: none;
  a{
    text-decoration: none;
    cursor: pointer;
  }
}
#app {
  background-color: $theme-bg;
}
// body::-webkit-scrollbar {
//   display: none;
// }
// scrollbar 
/* width */
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: $theme-bg;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


