// color
$theme-bg: #111314;
$primary: #d7f3f5;


//  font-size
.fs-16{
  font-size: 16px;
}
.fs-20 {
  font-size: 20px;
}
.fs-24 {
  font-size: 24px;
}

// utility
.xyCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-wrapper {
  white-space: pre-wrap;
}


.mb-100 {
  margin-bottom: 100px!important;
}

.mt-100 {
  margin-top: 100px!important;
}

// 自訂容器
.my-container {
  margin: 0;
  width: 100%;
  padding: 0 16px;
  @include md {
    padding: 0 5%;
  }
  @include lg {
    padding: 0 10%;
  }
  @include xl {
    padding: 0 15%;
  }
}
.theme-btn {
  background: $primary !important;
  color: $theme-bg !important;
}

.primary-bg {
  background: $primary !important;
}
.primary-text {
  color: $primary !important;
}

.theme-bg {
  color: #111314;
}
